<!DOCTYPE html>
<html>
    <head>
        <title>About Us Page</title>
        {{>headerLinks}}
    </head>
<body>
{{>header}}
<h1>About Page</h1>
<p>My first paragraph.</p>
{{>footer}}
</body>
</html>